body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}

#redWine .container{
  padding-top: 106px;
}

.permaButton{
  color:#FFF;
  background-color:#999;
  margin: 10px 20px 10px 15px;
}
.permaButton:hover{
  background-color:#FF0000;
}

.navbar-inverse .navbar-brand{
    color:#DF0D26;
    font-size: 30px;
    text-shadow: 1px 1px 2px #000;
    -moz-transition: color 1s ease;
    -webkit-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
}
.panel-default > .panel-heading {
  font-size: 26px;
  border-color: #722F37;
}

.wine{
    content: url(../img/wine.png);
    height: 30px;
}
.beer{
    content: url(../img/wine.png);
    height: 30px;
}
.cake{
    content: url(../img/cake.png);
    height: 30px;
}

tr:hover{
    background-color: #f5f5f5;
}
a {
  color: #333;
 }

 .panel-heading{
    font-weight: bold;
 }
 .hiddenRow {
    padding: 0 !important;
}

.addNew{
    float: right;
    margin-top: 15px;
    width: 100%;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.nameCell{
    padding: 12px 8px 8px 8px !important;
}

.moreCell{
    padding: 12px 8px 8px 15px !important;
}
.nameCell {
  max-width: 268px !important;
}

.noMargin{margin: 0;}

blockquote{
    margin:0 -15px 0;
    border-left: none;
}

.elementInfo{
    border-left: 5px solid #eeeeee;
}

.glyphicon{
    line-height: 143%;
  
}


.form-control {
    display: inline-block;
    width: 100% !important;

}
#select-control {
    display: inline-block;
    width: 58px !important;
}
.form-group { 
  width: 100% !important;
  display: -webkit-flex;
}
.noLeftPadd{
  padding-left: 4px !important;
}

.addBox{
  min-width:133px;
  float: right;
}

.breakword{
   word-wrap: break-word;
}

.clickable{
  cursor: pointer;
  cursor: hand;
}

.newCol{
    /*padding-right: 15px;*/
    float: right;
    width: 100%;
}
hr{
    margin: 0px;
}
.col-sm-2{
    padding-top: 20px !important;
  display: inline-block;
  vertical-align: top;
}
.col-md-6{
  display: inline-block;
  vertical-align: top;
}
.minCell{
    padding-top: 25px !important;
}
.rightFloat{
    float:right;
}

tr {
  background: #fff;
  -moz-transition: background 0.5s ease;
-webkit-transition: background 0.5s ease;
-o-transition: background 0.5s ease;
transition: background 0.5s ease;
}


.navbar-inverse .navbar-nav > li > a {
    -moz-transition: color 0.5s ease;
-webkit-transition: color 0.5s ease;
-o-transition: color 0.5s ease;
transition: color 0.5s ease;
}
.goNyan{ margin-left: 250% !important;}
.nyan{
  height:90%;
  width: 100%;
  position: absolute;
  top: 70px;
  margin-left: -130%;
  background: url(/static/img/nyan.gif) no-repeat;
  -webkit-transition: all 16.9s cubic-bezier(0.370,0.055,0.000,1.000);
  -moz-transition: all 16s cubic-bezier(0.370,0.055,0.000,1.000);
  -o-transition: all 16.9s cubic-bezier(0.370,0.055,0.000,1.000);
  -ms-transition: all 16.9s cubic-bezier(0.370,0.055,0.000,1.000);
  transition: all 16.9s cubic-bezier(0.370,0.055,0.000,1.000);
  -webkit-background-size:contain !important;
  -moz-background-size:contain !important;
  -o-background-size:contain !important;
  background-size:contain !important;
  z-index:10;
}

@media all and (min-width: 769px) {
  .nav li a {
    height: 52px;
    vertical-align: top; 
  }
}

@media all and (max-width: 768px) {
blockquote p {
    font-size: 90%;
  }

  .nav li {
    display: inline-block;
  }
.wine{
    height: 15px;
}
.col-sm-2{
   font-size: 90%;
  vertical-align: top;
}

}