{% extends "base.html" %}

{% load filters %}

{% block title %}{{currCom}} - RedWine{% endblock title %}

{% block styles %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}css/redwine.css" rel="stylesheet">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/jquery.filtertable.min.js"></script>
    <script>
    $(document).ready(function() {
        $('table').filterTable({
            inputSelector:"#search"
        });
    });
    </script>
{% endblock %}

{% block content %}
    <nav class="subnavbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    {%for kom, users in committees.items %}
                        {%ifequal currCom kom %}
                            <li class="top-menu-link active">
                                <a class="active" href="/redwine/{{kom}}">{{ kom }}</a>
                            </li>
                        {%else%}
                            <li class="top-menu-link">
                                <a class="" href="/redwine/{{kom}}">{{ kom }}</a>
                            </li>
                        {%endifequal%}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock content %}