{% extends "base.html" %}

{% block title %}
RedWine
{% endblock title %}

{% load filters %}

{% block content %}

<div class="panel panel-default" id="accordion">
  <div class="panel-heading">Vinstraffer</div>
  <table class="table">
    <tr class="center">
        <td class="left col-md-6"><strong>Navn</strong></td>
        <td><strong>Antall</strong></td>
        <td><strong>Sist straffet</strong></td>
        <td></td>
    </tr>
    
    {{user.komite}}
    {%for member in users %}
    {%ifequal member.komite 'dotKom' %}
    <tr data-toggle="collapse" data-target="#{{forloop.counter}}" data-parent="#accordion" class="accordion-toggle center clickable">
        <td class="nameCell left col-md-6">{{ member.user.get_full_name }}</td>
        <td title="{{ member.total }} vinstraffer" class="nameCell left">
            {% for vin in member.total|get_range %}
            <img src="/static/img/wine.png" alt="Vin" class="wine">
            {% endfor %}
        </td>
        <td class="nameCell">{{ member.straffer.all.latest.date }}</td>
        <td><a href="#"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
    </tr>
    <tr>
        <td colspan="4" class="hiddenRow">
            <div class="accordian-body collapse elementInfo" id="{{forloop.counter}}">

                <div class="row noMargin">
                  <div class="newCol">
                    <form class="form-inline addNew" role="form" action="." method="post">
                    {% csrf_token %}
                     {{ form.non_field_errors }}
                      <div class="form-group">
                        <div class="col-xs-10">
                        <label class="sr-only" for="exampleInputEmail2">Ny Vinstraff</label>
                        {{ form.reason.errors }}
                      <input type="text" class="form-control" id="id_reason" name="reason" placeholder="Begrunnelse på ny vinstraff">
                          </div>
                        <div class="addBox col-xs-1">
                          {{ form.amount.errors }}
                        <select id="select-control" class="form-control" id="amount" name="amount">
                        {% for num in "123456789"%}
                        <option{%ifequal num wineString %} nosel {% endifequal %}>{{ num }}</option>
                        {%endfor%}
                        </select>
                        <input id="id_to" name="to" type="hidden" value="{{ member.user.id }}">
<button type="submit" name="act" class="btn btn-success" title="Ny Vinstraff" value="add">
                      <span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                      </div>

                     
                    </div>
                  </div>
                  {%for straff in member.straffer.all %}
                  <div class="row noMargin">
                  <hr>
                  <div class="col-md-6">
                    <blockquote>
                    <p>{{ straff.reason }}</p>
                    <small>Gitt av <cite title="Source Title">{{ straff.giver }}</cite></small>
                    </blockquote>
                  </div>

                  <div title="{{ straff.amount }} vinstraffer." class="col-sm-2 nameCell left">
                        {% for vin in straff.amount|get_range %}
                        <img src="/static/img/wine.png" alt="Vin" class="wine">
                        {% endfor %}
                    </div>

                    <!-- todo: komitéfilter, col- på alle grids, minwith med cols, formshit, leftaligned straffer, input width --> 

                    <div title="Vinstraff gitt {{ straff.date }}" class="col-sm-2 nameCell minCell">
                          {{straff.date}}
                    </div>

                  <div class="col-sm-2">
                    <span class="rightFloat">
                      <button type="submit" name="act" class="btn btn-danger" title="Slett" value="delete {{ straff.pk }}">
                      <span class="glyphicon glyphicon-ban-circle"></span></button>
                    </span>
                  </div>
                  </div>
        
                    </form>
                    
                    {% endfor %}
                </div> 
            </div>
                
        </td>
    </tr>
    {% endifequal %}
    {%endfor%}

</table>
</div>
{% endblock content %}
