{% extends "base.html" %}
{% block title %}Wall of Shame - RedWine {% endblock title %}
{% load filters %}
{% block styles %}
{{ block.super }}
<link href="{{ STATIC_URL }}css/redwine.css" rel="stylesheet">
{% endblock %}
{% block content %}
{% include 'redwine/navbar.html' %}
<section id="redwine">
    <div class="container">
        <!--<div id="nyan" class="nyan"></div>-->
        <div class="row">
            
            <div class="col-md-12">
                <div class="page-header">
                    <input type="search" class="search" placeholder="Søk" name="search" id="search">
                    <h2>Wall of Shame</h2>
                </div>
                <div class="page-header" id="accordion">
                    <table class="table searchtable" id="maintable">
                        <thead>
                            <tr class="center">
                                <th class="left"><strong>#</strong></th>
                                <th class="left col-md-6"><strong>Navn</strong></th>
                                <th class="col-sm-2 center headerSortDown"><strong>Antall</strong></th>
                                <th class="center"><strong>Sist straffet</strong></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for key, data in top.items %}
                            {% with member=data.0 tot=data.1 by_kom=data.2 %}
                            <tr data-toggle="collapse" data-target="#{{member.id}}" data-parent="#accordion" class="accordion-toggle center clickable">
                                <td class="left">{{ forloop.counter }}</td>
                                <td class="nameCell left col-md-6 listname">
                                    <a href="/profile/{{member.username}}/" class="glyphicon glyphicon-user frontIcons"></a>
                                    {{ member.get_full_name }}
                                </td>
                                <td title="{{ tot }} {% ifequal tot 1 %}straff{%else%}straffer{%endifequal%}"
                                    class="col-sm-2 nameCell total">
                                    {% for penalty in member.penalties.all %}
                                        {% for penalties in penalty.amount|get_range %}
                                        <img src="/static/img/{{penalty.item}}.png" alt="{{penalty.item_name}}" class="{{penalty.item}}">
                                        {% endfor %}
                                    {% endfor %}
                                </td>
                                <td class="nameCell">{{ by_kom.latest.date | date:"d M Y H:i" }}</td>
                                <td><span class="glyphicon glyphicon-chevron-down"></span></td>
                            </tr>
                            <tr>
                                <td colspan="4" class="hiddenRow">
                                    <div class="accordian-body collapse elementInfo" id="{{member.id}}">
                                        {%for penalty in member.penalties.all %}
                                        <div class="row noMargin">
                                            <hr>
                                            <div class="col-md-6">
                                            <blockquote>
                                                <p class="breakword">{{ penalty.reason }}</p> 
                                                <small>Gitt av <a href="/profile/{{penalty.giver.username}}/"><cite title="Brukerprofil">{{ penalty.giver }}</cite></a></small>
                                            </blockquote>
                                            </div>
                                            <div title="{{ penalty.amount }} {% ifequal penalty.amount 1 %}{{penalty.item_name}}straff{%else%}{{penalty.item_name}}straffer{%endifequal%}" class="col-sm-2 nameCell center noLeftPadd">
                                                {% for vin in penalty.amount|get_range %}
                                                <img src="/static/img/{{penalty.item}}.png" alt="{{penalty.item_name}}" class="{{penalty.item}}">
                                                {% endfor %}
                                            </div>
                                            <div title="Vinstraff gitt {{ penalty.date | date:'d M Y H:i' }}" class="col-sm-2 nameCell minCell">
                                                {{penalty.date | date:"d M Y H:i"}}
                                            </div>
                                            <div class="col-sm-2">
                                                <span class="rightFloat">
                                                    {%if penalty.deleted %}
                                                    <button type="button" name="act" class="btn" title="Slettet straff" value="">
                                                        <span class="glyphicon glyphicon-ban-circle"></span> 
                                                        Slettet
                                                    </button>
                                                    {% else %}
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endwith %}
                {%endfor%}
                </tbody>
            </table>
        </div>
        </div>
        {% if error %}
        <div class="page-header">Error: {{errorMessage}}</div>
        {% endif %}
    </div>
</section>
{% endblock content %}
{% block js %}
{{ block.super }}
<script src="{{ STATIC_URL }}js/jquery.filtertable.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script> 
<script>
    $(document).ready(function() {
            $("#maintable").tablesorter(); 
            $('table').filterTable({
              inputSelector:"#search"
            });
        });
</script>
{% endblock %}